<link rel="stylesheet" href="automovil.component.css">



<p>automovil works!</p>
<div id="Titulo">
    <h1>Bugatti Veyron</h1>
</div>
<div id="ulImagen">
    <img src="{{ulImagen}}" alt="">
</div>
<br>
<div id="Subtitulo">
    <h2>Super Carro</h2>
</div>
<div id="Informacion" class="lista">
    <p>Marca: {{marca}}</p>
    <p>Modelo: {{modelo}}</p>
    <p>Ano: {{ano}}</p>
    <p>Tipo: {{tipo}}</p>
    <p>Version: {{version}}</p>
    <p>Pais de origen: {{paisDeOrigen}}</p>
    <p>Descripcion: {{descripcion}}</p>
</div>