<style>
    #Titulo,
    #Subtitulo {
        font-size: 2rem;
        text-align: center;
    }

    #Informacion {
        font-size: 14pt;
        text-align: center;
    }

    #Imagen {
        padding-left: 300px;
    }

    #PieDePagina {
        font-family: fantasy;
        text-align: center;
    }
</style>
<div id="Titulo">
    <h1>Bugatti Veyron</h1>
</div>
<div id="Imagen">
    <img src="{{ulImagen}}" alt="">
</div>
<br>
<div id="Subtitulo">
    <h2>Super Carro</h2>
</div>
<div id="Informacion" class="lista">
    <p>Marca: {{marca}}</p>
    <p>Modelo: {{modelo}}</p>
    <p>Ano: {{ano}}</p>
    <p>Tipo: {{tipo}}</p>
    <p>Version: {{version}}</p>
    <p>Pais de origen: {{paisDeOrigen}}</p>
    <p>Descripcion: {{descripcion}}</p>
</div>
<br>
<div id="PieDePagina">
    <footer>
        <p>Jose Guerrero</p>
        <p>Auxiliar en Desarrollo Web</p>
    </footer>
</div>